// GENERAL
header {
  height: 100px;
}

body {
  background-color: $bodyBG;
  font-family: $font;
}

.logo {
  background-color: $darkerColor;
  height: 100px;
  color: white;
  h1 {
    font-family: $h1Font;
    font-size: 5.5em;
    padding-left: 10%;
  }
}

#logoImg {
  height: 100px;
}

.slogan {
  background-color: $darkerColor;
  height: 100px;
  color: white;
  h1 {
    font-family: $h2Font;
    font-size: 2.9em;
    padding-left: 1%;
    padding-top: 1%;
  }
}

.hidden {
  display: none;
}

// SIDE MENU
.menuItems {
  list-style-type: none;
  li {
    padding: 2%;
    background-color: $mainColor;
  }
}

.mainContent {
  height: auto;
  min-height: 550px;
}

// HOMEPAGE NARRATIVE
.narrative {
  background-color: white;
  border-radius: 5%;
  opacity: .85;
  width: 90%;
  margin: 7.5% auto;
  font-family: $h2Font;
  font-size: 1.4em;
  line-height: 1.3em;
  h2 {
    font-family: $h2Font;
    font-size: 1.75em;
    padding: 2%;
  }
  p{
    padding: 2%;
  }
}

// HOMEPAGE LOGIN
.login {
  margin: 28% auto;
  width: 90%;
  background-color: $loginColor;
  min-height: 250px;
  margin-bottom: 15%;
  padding-left: 8%;
  padding-right: 8%;
  float: left;
  border-radius: 2%;
  h3 {
    color: white;
    font-size: 2.5em;
    font-family: $font;
    text-align: center;
    padding-bottom: 1%;
  }
  form {
    text-align: center;
  }
}

.btn {
  width: 25%;
  margin-left: 2%;
  text-align: center;
  float: right;
}

.bg {
  height: 550px;
  background-image: url(../security-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .8;
}

.login, .narrative {
  vertical-align: middle;
}

// ADD ADMIN/COMPANY/RETAILER
.addItem {
  width: 80%;
  margin: 0 auto;
}

.addAdmin {
  width: 80%;
  margin: 0 auto;
}

.addCompany {
  width: 80%;
  margin: 0 auto;
}

.addRetailer {
  width: 80%;
  margin: 0 auto;
}

  // EDIT USER
  .userInfo {
    width: 80%;
    margin: 0 auto;
  }

//COMPANY SECTION
.importSection {
  width: 80%;
  margin: 0 auto;
}

#upload {
  float: left;
}

// FOOTER
footer {
  width: 100%;
  height: 80px;
  color: white;
  text-align: center;
  padding-top: 2%;
  background-color: $darkerColor;
}
