// GENERAL
header {
  height: 100px;
}

body {
  background-color: $bodyBG;
}

.logo {
  background-color: $darkerColor;
  height: 100px;
  color: white;
  font-family: $font;
  font-size: 3em;
}

.slogan {
  background-color: $mainColor;
  height: 100px;
  color: white;
  font-family: $font;
  font-size: 3em;
}

.hidden {
  display: none;
}

// HOMEPAGE NARRATIVE

.narrative {
  width: 90%;
  margin: 4% auto;
  font-family: $h2Font;
  font-size: 1.4em;
  line-height: 1.3em;
  h2 {
    font-family: $h2Font;
    font-size: 1.75em;
  }
}

// HOMEPAGE LOGIN
.login {
  margin: 7% auto;
  width: 90%;
  background-color: $mainColor;
  min-height: 250px;
  margin-bottom: 15%;
  padding: 5%;
  float: left;
  border-radius: 2%;
  h3 {
    color: white;
    font-size: 2.5em;
    font-family: $font;
    text-align: center;
    padding-bottom: 1%;
  }
  form {
    text-align: center;
  }
}

.btn {
  width: 25%;
  margin-left: 2%;
  text-align: center;
  float: right;
}

// EDIT USER

.coName {

}

// FOOTER
footer {
  width: 100%;
  text-align: center;
}
