//FONTS
$font: 'Raleway', sans-serif;
$h2Font: 'Philosopher', sans-serif;
$h1Font: 'Orbitron', sans-serif;

//COLORS
$bodyBG: #C1CAE2;
$mainColor: #353771;
$darkerColor: #05083B;
$loginColor: #0C1055;
