//FONTS
$font: 'Raleway', sans-serif;
$h2Font: 'Philosopher', sans-serif;
$h1Font: 'Orbitron', sans-serif;

$secondaryFont: 'Josefin Sans', sans-serif;

//COLORS
$bodyBG: #A2A2A8;
$mainColor: #0F1A5C;
$darkerColor: #010A43;
$sidebarColor: #494A5C;
$loginColor: #0C1055;
