//FONTS
$font: 'Raleway', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;
$h1Font: 'Orbitron', sans-serif;
$h3Font: 'Ubuntu', sans-serif;


//COLORS
$bodyBG: #A2A2A8;
$mainColor: #0F1A5C;
$darkerColor: #010A43;
$sidebarColor: #494A5C;
$menuItems: #DDDDE0;
$menuBorder: #2B2B38;
$loginColor: #0C1055;

//optional darkerColor #0C2032
//optional sidebarColor #2C3E50
