<!-- HEADER -->
<header>
  <div class="col-md-4 logo">
    <img src="../../assets/lock.png" id="logoIcon" alt="">
    <h1 id="logoTitle">PAMS</h1>
  </div>
  <div class="col-md-8 slogan">

    <section id="tester" ng-controller="LoginController">

    </section>
    <!-- <h1>Product Authentication & Management System</h1> -->
    <span><a id="logoutLink" href="#/logout/">LOGOUT</a><img src="../../assets/log-out.png" id="logoutIcon" alt="Logout"></span>
  </div>
</header>

<div class="mainContent">
  <div class="col-md-4 sidebar">
    <ul class="menuItems"> <h2>RETAILER</h2>
      <h3>CONTROL PANEL</h3>

      <li><img src="../../assets/map.png" class="menuIcon" alt="Map"><br>
        <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

      <li><img src="../../assets/shield.png" class="menuIcon" alt="Verify Product"><br>
        <a href="/#/verifyR">Verify<br>Product</a></li>
    </ul>
  </div>

<div class="col-md-8">
  <section class="productVerification">
    <h3>Verify Product</h3>
      <form class="form-horizontal" ng-submit="verificationCtrl.check(item)">
    <div class="form-group">
      <label for="serialNumber" class="col-sm-2 control-label">Serial Number</label>
      <div class="col-sm-10">
        <input ng-model="item.serialNumber" type="number" class="form-control" id="serialNumber">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="verifyItem">Check Item</button>
      </div>
    </div>
  </form>
  </section>
</div>

<footer>
  <div class="col-md-12">
    <p>Connect with PAMS on social media:</p>
    <a href="https://twitter.com/@Pams2016" target="_blank"><img src="../../assets/twitter.png" class="socialIcon" alt="Twitter"></a>
    <a href="https://www.facebook.com/Pams2015-1550404305277834/?skip_nax_wizard=true" target="_blank"><img src="../../assets/facebook.png" class="socialIcon" alt="Facebook"></a>
    <br>
    <p>&copy; PAMS, Inc. 2015</p>
    <p><a href="http://www.entypo.com">Entypo +</a> pictograms by Daniel Bruce</p>
  </div>
</footer>
