
<div class="bg">
  <div class="col-md-12">
    <section class="topTitle">
      <h1>PAMS</h1>
      <h2>Product Authentication</h2>
    </section>
  </div>
</div>

<section class="col-md-12 narrative">
  <h2>PAMS determines the authenticity of brand name products thereby ensuring the protection of brands, retailers and consumers alike.</h2>
</section>

<section class="col-md-12 directions">
  <h2>How does PAMS work?</h2>
    <h2>It's simple:</h2>

  <ol class="homepageList">
    <li id="one">Find a product</li>
    <li id="two">Find the serial number</li>
    <li id="three"><strong>Verify authenticity</strong></li>
    <li id="four">Repeat</li>
  </ol>
</section>

<section class="col-md-12 authExplaination">
  <h2>When PAMS detects a counterfeit product, that product information is recorded, including exactly who entered it along with when & where it was entered.</h2>

  <section id="homepageMap">
  <img src="../../assets/homepageMap.png" alt="Google Map Example" id="map">
  </section>

  <h2>This information is saved and integrated with Google Maps in order to detect trends in the market.</h2>
</section>


<!-- LOGIN DIV -->

<div class="row">
<div class="col-md-6 loginSec">
  <h3>Get Started</h3>
  <p>PAMS can be utilized in a variety of ways.  Which way makes the most sense for you depends on your exact situation.  Call a PAMS associate today to sign up as a Company or Retailer and gain access to all of PAMS features.
</div>

<div class="col-md-6 loginSec">
  <div class="login">
  <h3>
    LOGIN
  </h3>
  <form class="form-horizontal" ng-submit="loginCtrl.login(user)">
    <!-- USERNAME INPUT -->
    <div class="form-group">
      <input type="text" ng-model="user.username" class="form-control" name="username"  placeholder="username" required>
    </div>
    <!-- PASSWORD INPUT -->
    <div class="form-group">
      <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="password" required>
    </div>
    <!-- SUBMIT BUTTONS -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="submitLogin">Login</button>
      </div>
    </div>
  </form>
 </div>
</div>
</div>
