<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<div class="mainContent">
  <div class="col-md-4 sidebar">
    <ul class="menuItems"> <h2>ADMIN</h2>
      <h3>CONTROL PANEL</h3>
      <li><img src="../../assets/add-user.svg" class="menuIcon" alt="Create Users"><br>
        <a href="/#/addUsers">Create<br>User</a></li>

      <li><img src="../../assets/users.svg" class="menuIcon" alt="Manage Users"><br>
        <a href="/#/users">Manage<br>Users</a></li>

      <li><img src="../../assets/upload.svg" class="menuIcon" alt="Import Items"><br>
        <a href="/#/addItems">Import<br>Products</a></li>

      <li><img src="../../assets/magnifying-glass.svg" class="menuIcon" alt="Search"><br>
        <a href="/#/search">Search<br>Products</a></li>

      <li><img src="../../assets/map.svg" class="menuIcon" alt="Map"><br>
        <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

      <li><img src="../../assets/shield.svg" class="menuIcon" alt="Verify Product"><br>
        <a href="/#/admin">Verify<br>Product</a></li>
    </ul>
  </div>

<div class="col-md-8 adminMain">
  <section class="addRetailer">
    <h3>Add Retailer</h3>
    <form class="form-horizontal" ng-submit="adminCtrl.addRetailer(retailer)">
      <!-- COMPANY NAME INPUT -->
      <div class="form-group">
        <input type="text" ng-model="company.companyName" class="form-control" name="companyName"  placeholder="company name" required>
      </div>
      <!-- USERNAME INPUT -->
      <div class="form-group">
        <input type="text" ng-model="retailer.username" class="form-control" name="username"  placeholder="username" required>
      </div>
      <!-- PASSWORD INPUT -->
      <div class="form-group">
        <input type="password" ng-model="retailer.password" class="form-control" name="password" placeholder="password" required>
      </div>
      <!-- PASSWORD VERIFICATION -->
      <div class="form-group">
        <input type="password" class="form-control" name="passwordVerify" placeholder="retype password" required>
      </div>
      <!-- EMAIL INPUT -->
      <div class="form-group">
        <input type="email" ng-model="retailer.email" class="form-control" name="email" placeholder="email" required>
      </div>
      <!-- STREET ADDRESS INPUT -->
      <div class="form-group">
        <input type="text" ng-model="retailer.address" class="form-control" name="address" placeholder="address" required>
      </div>
      <!-- TOWN INPUT -->
      <div class="form-group">
        <input type="text" ng-model="retailer.city" class="form-control" name="town" placeholder="town" required>
      </div>
      <!-- STATE INPUT -->
      <div class="form-group">
        <input type="text" ng-model="retailer.state" class="form-control" name="state" placeholder="state" required>
      </div>
      <!-- ZIP INPUT -->
      <div class="form-group">
        <input type="text" ng-model="retailer.zip" class="form-control" name="zip" placeholder="zip" required>
      </div>
      <!-- SUBMIT BUTTONS -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="submitRetailer">Create</button>
        </div>
      </div>
    </form>
  </section>
</div>
</div>
