<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<div class="mainContent">
  <div class="col-md-4 sidebar">
    <ul class="menuItems"> <h2>ADMIN</h2>
      <h3>CONTROL PANEL</h3>
      <li><img src="../../assets/add-user.svg" class="menuIcon" alt="Create Users"><br>
        <a href="/#/addUsers">Create<br>User</a></li>

      <li><img src="../../assets/users.svg" class="menuIcon" alt="Manage Users"><br>
        <a href="/#/users">Manage<br>Users</a></li>

      <li><img src="../../assets/upload.svg" class="menuIcon" alt="Import Items"><br>
        <a href="/#/addItems">Import<br>Products</a></li>

      <li><img src="../../assets/magnifying-glass.svg" class="menuIcon" alt="Search"><br>
        <a href="/#/search">Search<br>Products</a></li>

      <li><img src="../../assets/map.svg" class="menuIcon" alt="Map"><br>
        <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

      <li><img src="../../assets/shield.svg" class="menuIcon" alt="Verify Product"><br>
        <a href="/#/admin">Verify<br>Product</a></li>
    </ul>
  </div>

<div class="col-md-8 adminMain">

  <section class="searchItem">
    <form class="form-horizontal" ng-submit="adminCtrl.clubTypeSearch(type)">
      <!-- CLUB TYPE -->
      <div class="form-group">
        <input type="text" ng-model="type" class="form-control" name="clubType" placeholder="Club Type" required>
      </div>
      <!-- SUBMIT BUTTONS -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="searchClubType">Search</button>
        </div>
      </div>
    </form>
  </section>

    </form>
  </section>
</div>
