<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<h1>ADMIN</h1>

<div class="col-md-4 adminSidebar">
  <ul class="menuItems">
    <li><a href="/#/addAdmin">Add Admin</a></li>
    <li><a href="/#/addCompany">Add Company</a></li>
    <li><a href="/#/addRetailer">Add Retailer</a></li>
    <li><a href="/#/users">Users</a></li>
    <li><a href="/#/addBag">Add Bag</a></li>
    <li><a href="/#/addClub">Add Club</a></li>
    <li><a href="/#/admin">Verify Product</a></li>
  </ul>
</div>

<div class="col-md-8 adminMain">
  <section class="userInfo" data-id="{{adminCtrl.user.id}}">
    <h2>{{adminCtrl.user.username}}:</h2>
    <address>
      <strong>{{adminCtrl.user.companyName}}</strong><br>
      {{adminCtrl.user.address}}<br>
      {{adminCtrl.user.city}}, {{adminCtrl.user.state}} {{adminCtrl.user.zip}}<br>
    </address>
    <br>

    <form class="form-horizontal" ng-submit="adminCtrl.editUser(user)">

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.accessLevel">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.id">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.companyName">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" ng-model="user.password">
    </div>

    <div class="form-group">
      <input type="email" class="form-control" ng-model="user.email">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.address">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.city">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.state">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.zip">
    </div>

    <button class="btn btn-primary" type="submit" name="button">Edit</button>
    </form>

    <button class="btn btn-danger" type="delete" name="button" ng-click="adminCtrl.deleteUser(user)">Delete</button>

  </section>
</div>
