<h1>ADMIN</h1>

<div class="col-md-4 adminSidebar">
  <ul>
    <li><button type="button" name="addAdmin">Add Admin</button></li>
    <li><button type="button" name="addCo">Add Company</button></li>
    <li><button type="button" name="addRetail">Add Retailer</button></li>
    <li><button type="button" name="verify">Verify Product</button></li>
  </ul>
</div>


<div class="col-md-8 adminMain">
  <section class="productVerification">
    <h3>Verify Product</h3>
      <form class="form-horizontal">
    <div class="form-group">
      <label for="coName" class="col-sm-2 control-label">Company Name</label>
      <div class="col-sm-10">
        <input type="coName" class="form-control" id="coName">
      </div>
    </div>
    <div class="form-group">
      <label for="serialNumber" class="col-sm-2 control-label">Serial Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="serialNumber">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Check Item</button>
      </div>
    </div>
  </form>
  </section>
</div>
