<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S.</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<div class="mainContent">
<div class="col-md-4 sidebar">
  <ul class="menuItems"> <h2>ADMIN</h2>
    <h3>CONTROL PANEL</h3>
    <li><img src="../../assets/add-user.svg" class="menuIcon" alt="Create Users"><br>
      <a href="/#/addUsers">Create<br>Users</a></li>

    <li><img src="../../assets/users.svg" class="menuIcon" alt="Manage Users"><br>
      <a href="/#/users">Manage<br>Users</a></li>

    <li><img src="../../assets/upload.svg" class="menuIcon" alt="Import Items"><br>
      <a href="/#/addItems">Import<br>Products</a></li>

    <li><img src="../../assets/magnifying-glass.svg" class="menuIcon" alt="Search"><br>
      <a href="/#/search">Search<br>Products</a></li>

    <li><img src="../../assets/map.svg" class="menuIcon" alt="Map"><br>
      <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

    <li><img src="../../assets/shield.svg" class="menuIcon" alt="Verify Product"><br>
      <a href="/#/admin">Verify<br>Product</a></li>
  </ul>
</div>


<div class="col-md-8 adminMain">
  <section class="productVerification">
    <h3>Verify Product</h3>
      <form class="form-horizontal" ng-submit="verificationCtrl.check(item)">
    <div class="form-group">
      <label for="serialNumber" class="col-sm-2 control-label">Serial Number</label>
      <div class="col-sm-10">
        <input ng-model="item.serialNumber" type="number" class="form-control" id="serialNumber">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="verifyItem">Check Item</button>
      </div>
    </div>
  </form>
  </section>
  <section class="true hidden">

  </section>
  <section class="false hidden">
    <h3>WARNING: NOT AUTHENTIC</h3>
    <p>
      This item has automatically been reported into PAMS counterfeit tracking system.
    </p>
  </section>
</div>
</div>

<footer>
  <div class="col-md-12">
    &copy; PAMS, Inc. 2015
  </div>
</footer>
