<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<div class="mainContent">
<div class="col-md-4 sidebar">
  <ul class="menuItems">
    <li><a href="/#/addAdmin">Add Admin</a></li>
    <li><a href="/#/addCompany">Add Company</a></li>
    <li><a href="/#/addRetailer">Add Retailer</a></li>
    <li><a href="/#/users">Users</a></li>
    <li><a href="/#/addBag">Add Bag</a></li>
    <li><a href="/#/addBall">Add Ball</a></li>
    <li><a href="/#/addClub">Add Club</a></li>
    <li><a href="/#/addHat">Add Hat</a></li>
    <li><a href="/#/addShirt">Add Shirt</a></li>
    <li><a href="/#/search">Search</a></li>
    <li><a href="/#/admin">Verify Product</a></li>
  </ul>
</div>

<div class="col-md-8 adminMain">
  <!-- <section ng-repeat="el in adminCtrl.users" class="userList" data-id="{{el.id}}">
    <a href="#/{{el.id}}">{{el.username}}</a>
  </section> -->

  <section class="true">
    <h1>{{verificationCtrl.currentItem.clubType}}</h1>
  </section>

</div>
</div>
