<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<h1>ADMIN</h1>

<div class="col-md-4 adminSidebar">
  <ul>
    <li><a href="/#/addAdmin">Add Admin</a></li>
    <li><a href="/#/addCompany">Add Company</a></li>
    <li><a href="/#/addRetailer">Add Retailer</a></li>
    <li><a href="/#/users">Users</a></li>
    <li><a href="/#/admin">Verify Product</a></li>
  </ul>
</div>

<div class="col-md-8 adminMain">
  <section ng-repeat="el in adminCtrl.users" class="userList" data-id="{{el.id}}">
    <a href="#/{{el.id}}">{{el.username}}</a>
  </section>
</div>
