<h1>ADMIN</h1>

<div class="col-md-4 adminSidebar">
  <ul>
    <li><a href="/#/addAdmin">Add Admin</a></li>
    <li><a href="/#/addCompany">Add Company</a></li>
    <li><a href="/#/addRetailer">Add Retailer</a></li>
    <li><a href="/#/users">Edit Users</a></li>
    <li><a href="/#/admin">Verify Product</a></li>
  </ul>
</div>

<div class="col-md-8 adminMain">
  <section ng-repeat="el in adminCtrl.allUsers" class="userList">
    <h3>{{el.companyName}}</h3>
    <h4>{{el.username}}</h4>
    <h4>Change Password</h4>
    <h5>{{el.email}}</h5>
    <address>
      <strong>{{el.companyName}}</strong><br>
      {{el.address}}<br>
      {{el.city}}, {{el.state}} {{el.zip}}<br>
    </address>
  </section>
</div>
