<!-- HEADER -->
<header>
    <!-- LOGO -->
  <div class="col-md-4 logo">
    <img src="../../assets/lock.png" id="logoIcon" alt="">
    <h1 id="logoTitle">PAMS</h1>
  </div>
  <div class="col-md-8 slogan">

    <!-- LOGOUT -->
    <span><a id="logoutLink" href="#/">LOGOUT</a><img src="../../assets/log-out.png" id="logoutIcon" alt="Logout"></span>
  </div>
</header>

<div class="mainContent">

<!-- SIDEBAR -->
<div class="col-md-4 sidebar">
  <ul class="menuItems">

    <h2>ADMIN</h2>
    <h3>CONTROL PANEL</h3>

    <li><img src="../../assets/add-user.png" class="menuIcon" alt="Create Users"><br>
      <a href="/#/addUsers">Create<br>Users</a></li>

    <li><img src="../../assets/users.png" class="menuIcon" alt="Manage Users"><br>
      <a href="/#/users">Manage<br>Users</a></li>

    <li><img src="../../assets/upload.png" class="menuIcon" alt="Import Items"><br>
      <a href="/#/addItems">Import<br>Products</a></li>

    <li><img src="../../assets/magnifying-glass.png" class="menuIcon" alt="Search"><br>
      <a href="/#/search">Search<br>Products</a></li>

    <li><img src="../../assets/map.png" class="menuIcon" alt="Map"><br>
      <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

    <li><img src="../../assets/shield.png" class="menuIcon" alt="Verify Product"><br>
      <a href="/#/admin">Verify<br>Product</a></li>
  </ul>
</div>

<!-- MAIN CONTENT -->
<div class="col-md-8 adminMain">
  <section  class="userList" >
    <h3 class="sectionTitle">Select User:</h3>
    <section ng-repeat="el in adminCtrl.users | orderBy:'accessLevel' | orderBy:'username'" data-id="{{el.id}}">
   <a href="#/{{el.id}}">{{el.username}}</a> | {{el.accessLevel}}
       </section>

  </section>
</div>
</div>


<!-- FOOTER -->
<footer>
  <div class="col-md-4">
    <h3>Connect with PAMS on social media:</h3>
    <a href="https://twitter.com/@Pams2016" target="_blank"><img src="../../assets/twitter.png" class="socialIcon" alt="Twitter"></a>
    <a href="https://www.facebook.com/Pams2015-1550404305277834/?skip_nax_wizard=true" target="_blank"><img src="../../assets/facebook.png" class="socialIcon" alt="Facebook"></a>
  </div>

  <div class="col-md-4">
    <h3>&copy; PAMS, Inc. 2015</h3>
    <p>Created by Allie Arsenault, Earl "Duke" Bozarth, Matt Brown, & Cameron Oakley</p>
    <p><a href="http://www.entypo.com">Entypo +</a> pictograms by Daniel Bruce</p>
  </div>

  <div class="row">
    <h3>Contact Us:</h3>
  <div class="col-md-2 personalContact1">
    <p>Allie: <a href="https://www.linkedin.com/in/alliejarsenault" target="_blank">Linked In</a> | <a href="https://github.com/alliejay" target="_blank">Github</a></p>
    <p>Duke: <a href="https://www.linkedin.com/in/earl-bozarth-26322544" target="_blank">Linked In</a> | <a href="https://github.com/ehbozarth" target="_blank">Github</a></p>
  </div>

  <div class="col-md-2 personalContact2">
    <p>Matt: <a href="https://www.linkedin.com/in/benjamin-brown-08a6b7b9" target="_blank">Linked In</a> | <a href="https://github.com/littleriver1337" target="_blank">Github</a></p>
    <p>Cameron: <a href="https://www.linkedin.com/in/cameron-oakley-47836bb6" target="_blank">Linked In</a> | <a href="https://github.com/cpoakley1432" target="_blank">Github</a></p>
  </div>
    </div>
</footer>
