<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <h1>Product Authentication & Management System</h1>
  </div>
</header>

<h1>COMPANY</h1>

<div class="col-md-4 companySidebar">
  <ul class="menuItems">
    <li><a href="/#/files">Import File</a></li>
    <li><a href="/#/addBagC">Add Bag</a></li>
    <li><a href="/#/addBallC">Add Ball</a></li>
    <li><a href="/#/addClubC">Add Club</a></li>
    <li><a href="/#/addHatC">Add Hat</a></li>
    <li><a href="/#/addShirtC">Add Shirt</a></li>
    <li><a href="/#/verifyC">Verify Product</a></li>
  </ul>
</div>

<div class="col-md-8 adminMain">

  <section class="addItem">
    <form class="form-horizontal" ng-submit="addItemsCtrl.addClub(item)">
      <!-- MAKER -->
      <div class="form-group">
        <input type="text" ng-model="item.maker" class="form-control" name="maker" placeholder="Maker" required>
      </div>
      <!-- STAND -->
      <div class="form-group">
        <input type="text" ng-model="item.serialNumber" class="form-control" name="serialNumber" placeholder="Serial Number" required>
      </div>
      <!-- HARNESS -->
      <div class="form-group">
        <input type="text" ng-model="item.clubType" class="form-control" name="clubType" placeholder="Club Type" required>
      </div>
      <!-- TEAM NAME -->
      <div class="form-group">
        <input type="text" ng-model="item.year" class="form-control" name="year" placeholder="Year">
      </div>
      <!-- SCHOOL NAME -->
      <div class="form-group">
        <input type="text" ng-model="item.lieAngle" class="form-control" name="lieAngle" placeholder="Lie Angle">
      </div>
      <!-- SUBMIT BUTTONS -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="submitClub">Create Item</button>
        </div>
      </div>
    </form>
  </section>


  <section class="importSection">
    <form action="/upload-clubs/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="ImportFile">Import File</label>
        <input type="file" id="ImportFile" ng-model="file" name="file">
      </div>
      <input type="submit" name="upload" value="Upload" class="btn btn-success">
    </form>
  </section>
</div>
