<!-- HEADER -->
<header>
  <div class="col-md-4 logo">
    <img src="../../assets/lock.png" id="logoIcon" alt="">
    <h1 id="logoTitle">PAMS</h1>
  </div>
  <div class="col-md-8 slogan">

    <section id="tester" ng-controller="LoginController">

    </section>
    <!-- <h1>Product Authentication & Management System</h1> -->
    <span><a id="logoutLink" href="#/logout/">LOGOUT</a><img src="../../assets/log-out.png" id="logoutIcon" alt="Logout"></span>
  </div>
</header>

<div class="mainContent">
  <div class="col-md-4 sidebar">
    <ul class="menuItems"> <h2>COMPANY</h2>
      <h3>CONTROL PANEL</h3>

      <li><img src="../../assets/upload.png" class="menuIcon" alt="Import Items"><br>
        <a href="/#/addItemsC">Import<br>Products</a></li>

      <li><img src="../../assets/magnifying-glass.png" class="menuIcon" alt="Search"><br>
        <a href="/#/searchC">Search<br>Products</a></li>

      <li><img src="../../assets/map.png" class="menuIcon" alt="Map"><br>
        <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

      <li><img src="../../assets/shield.png" class="menuIcon" alt="Verify Product"><br>
        <a href="/#/verifyC">Verify<br>Product</a></li>
    </ul>
  </div>

<div class="col-md-8 adminMain">

  <section class="addItem">
    <form class="form-horizontal" ng-submit="addItemsCtrl.addHat(item)">
      <!-- MAKER -->
      <div class="form-group">
        <input type="text" ng-model="item.maker" class="form-control" name="maker" placeholder="Maker" required>
      </div>
      <!-- FIT -->
      <div class="form-group">
        <input type="text" ng-model="item.fit" class="form-control" name="fit" placeholder="Fit" required>
      </div>
      <!-- COLOR -->
      <div class="form-group">
        <input type="text" ng-model="item.color" class="form-control" name="color" placeholder="Color" required>
      </div>
      <!-- PRICE -->
      <div class="form-group">
        <input type="text" ng-model="item.price" class="form-control" name="price" placeholder="Price">
      </div>
      <!-- SUBMIT BUTTONS -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" name="submitHat">Create Item</button>
        </div>
      </div>
    </form>
  </section>


  <section class="importSection">
    <form action="/upload-hats/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="ImportFile">Import File</label>
        <input type="file" id="ImportFile" ng-model="file" name="file">
      </div>
      <input type="submit" name="upload" value="Upload" class="btn btn-success">
    </form>
  </section>
</div>

<footer>
  <div class="col-md-12">
    <p>Connect with PAMS on social media:</p>
    <a href="https://twitter.com/@Pams2016" target="_blank"><img src="../../assets/twitter.png" class="socialIcon" alt="Twitter"></a>
    <a href="https://www.facebook.com/Pams2015-1550404305277834/?skip_nax_wizard=true" target="_blank"><img src="../../assets/facebook.png" class="socialIcon" alt="Facebook"></a>
    <br>
    <p>&copy; PAMS, Inc. 2015</p>
    <p><a href="http://www.entypo.com">Entypo +</a> pictograms by Daniel Bruce</p>
  </div>
</footer>
