<header>
  <div class="col-md-4 logo">
    <h1>P.A.M.S</h1>
  </div>
  <div class="col-md-8 slogan">
    <!-- <h1>Product Authentication & Management System</h1> -->
  </div>
</header>

<div class="mainContent">
  <div class="col-md-4 sidebar">
    <ul class="menuItems"> <h2>COMPANY</h2>
      <h3>CONTROL PANEL</h3>

      <li><img src="../../assets/upload.svg" class="menuIcon" alt="Import Items"><br>
        <a href="/#/addItems">Import<br>Products</a></li>

      <li><img src="../../assets/magnifying-glass.svg" class="menuIcon" alt="Search"><br>
        <a href="/#/search">Search<br>Products</a></li>

      <li><img src="../../assets/map.svg" class="menuIcon" alt="Map"><br>
        <a href="../../map.html" target="new">Counterfeit<br>Map</a></li>

      <li><img src="../../assets/shield.svg" class="menuIcon" alt="Verify Product"><br>
        <a href="/#/admin">Verify<br>Product</a></li>
    </ul>
  </div>

<div class="col-md-8">
  <section class="importSection">

    <form action="/import-file/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="ImportFile">Import File</label>
        <input type="file" id="ImportFile" ng-model="file" name="file">
      </div>
      <input type="submit" name="upload" value="Upload" class="btn btn-success">
    </form>
  </section>
</div>
